/* universal styles */

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

.centerme {
	text-align: center;
}

.clearfix:after{
	display: table;
	content:" ";
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bumpright {
	margin-right: 10px;
}

.bumpleft {
	margin-left: 10px;
}

/* global styles */

.container {
	width: 960px;
	margin: 0 auto; 
}

body {
	background: url('../img/bash.jpg');
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

header, 
section,
footer {
	background: rgba(255,255,255,0.75);
	border: solid 2px rgba(0,0,0,0.8);
	padding: 10px 15px;
	margin-bottom: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
}



.bash {
	background: url('../img/bash.jpg');
}

.git {
	background: url('../img/git.jpg');
}

.github {
	background: url('../img/github.jpg');
}

#nav {
	width: auto;
	float: left;
	margin: 0 0 3em 0;
	padding: auto;
	list-style: none;
	background: rgba(255,255,255,0.75);
	border: solid 2px rgba(0,0,0,0.8);
	padding: 10px 15px;
	margin-bottom: 20px;
	-webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.8);
}
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }







